<body class="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="img">
          <%= image_tag 'R.png', size: '400x200' %>
          <p>
            <div class="introduction-about">
              ようこそGrobal Japanhへ。<br>
             ここでは海外に進出した方や、日本にいて海外に興味ある方達が交流する場所です。
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>