<div class="d-flex align-items-center justify-content-center">
<h1>Grobal Japanへようこそ</h1>
</div>
 <div>日本人友達募集,交流掲示板
日本日本人の友達を作りましょう！<br>
ここでは海外に住んでいる日本人や将来海外に進出したい方進出したい方たちなどたちな交流できる機会を提供しています。
</div>
</div>
<%=link_to"交流ページ",submissions_path(@submissions), class: "btn btn-success" %>
