
<body class="text-center">
   <h1>Grobal Japanへようこそ</h1><br>
   <h3>日本人友達募集,交流掲示板日本人の友達を作りましょう！<h3><br>
   <%=link_to"交流ページへ！！",submissions_path(@submissions), class: "btn btn-outline-light" %>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
</body>
 
 