<footer>
  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto'>
        <%= link_to "お問合せへ",new_contact_path, class:"fas fa-users"%>
        <p>Grobal Japan</p>
      </div>
    </div>
  </div>
</footer>