<footer class="text-center">
  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto'>
        <%= link_to "お問合せへ",new_contact_path, class:"btn btn-outline-light"%>
        <h2>Grobal Japan</h2>
      </div>
    </div>
  </div>
</footer>

